<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SFTP_SERVER" value="localhost"/>
		<add key="SFTP_USER" value="wiste"/>
		<add key="KEY_PATH" value="C:\Users\wiste\.ssh\id_ed25519"/>
		<add key="KEY_PASS_PHRASE" value=""/>
		<add key="DB_SERVER" value="ncc-db-srv.database.windows.net,1433"/>
		<add key="DB_USER" value="NccUser"/>
		<add key="DB_PASS" value="Ncc#1234"/>
		<add key="DB_NAME" value="NCCDB"/>
		<add key="DB_SCHEMA" value="kss_24170296"/>
		<add key="SHOP_CODE" value="24170296"/>
	</appSettings>
</configuration>